<h1>Restaurants</h1>
<div class="ms-3">
  <% @restaurants.each do |restaurant| %>
    <div class="card-product mb-4">
      <img src="<%= restaurant.image_url %>"/>
      <div class="card-product-infos">
        <h2><%= restaurant.name %></h2>
        <p><%= restaurant.category %></p>
        <p><%= restaurant.address %></p>
        <p><%= restaurant.phone_number %></p>
        <%= link_to 'Go to Restaurant', restaurant_path(restaurant), class: 'btn btn-secondary text-white text-decoration-none px-3 py-1' %>
      </div>
    </div>
  <% end %>
  <div class="mt-4 mb-4">
    <%= link_to new_restaurant_path, class: 'btn btn-secondary text-white text-decoration-none px-3 py-1' do %>
      <i class="fas fa-plus"></i> Add New Restaurant
    <% end %>
  </div>
</div>
